// ==================================================
// Table & Table layout
// ==================================================

.table {
  width: 100%;
  display: table;
}

.table-row {
  display: table-row;
}

.table-col {
  display: table-cell;
  padding: $grid-gutter-base;
  vertical-align: middle;

  &.no-padded {
    padding: 0;
  }

  &.no-left-padded {
    padding-left: 0;
  }

  &.no-right-padded {
    padding-right: 0;
  }

  &.horizontal-padded {
    padding: {
      left: $grid-gutter-base;
      right: $grid-gutter-base;
    };
  }

  &.horizontal-padded-small {
    padding: {
      left: $grid-gutter-base / 2;
      right: $grid-gutter-base / 2;
    };
  }

  &.vertical-padded {
    padding: {
      top: $grid-gutter-base;
      bottom: $grid-gutter-base;
    };
  }

  &.vertical-padded-small {
    padding: {
      top: $grid-gutter-base / 2;
      bottom: $grid-gutter-base / 2;
    };
  }
}
